
<h1>New Address</h1> 
<% if @address.errors.any? %>
  <ul>
    <% @address.errors.full_messages.each do |msg|%>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<form id="autocomplete" onsubmit="return false">
  <input type="text" id="address_autocomplete" name="address_autocomplete" />
</form>

<%= form_with model: @address, local: true do |f| %>
  <div>
    <%#= f.label(:autocomplete, "AutoComplete:") %>
    <%#= f.text_field :autocomplete, placeholder: 'Enter your address' %>
  </div>

  <div>
    <%= f.label(:street_address, "Street Address") %>
    <%= f.text_field :street_number, placeholder: '12345' %>
    <%= f.text_field :route, placeholder: 'ABC Street' %>
  </div>

  <div>
    <%= f.label(:locality, "City") %>
    <%= f.text_field :locality, placeholder: 'Vancouver' %>
  </div>

  <div>
    <%= f.label(:administrative_area_level_1, "Province") %>
    <%= f.text_field :administrative_area_level_1, placeholder: 'BC' %>
  </div>

  <div>
    <%= f.label(:postal_code, "Postal Code") %>
    <%= f.text_field :postal_code, placeholder: 'V4J-12L' %>
  </div>

  <div>
    <%= f.label(:country, "Country") %>
    <%= f.text_field :country, placeholder: 'Canada' %>
  </div>

  <div>
    <%= f.hidden_field(:lng) %>  </div>
    <%= f.hidden_field(:lat) %>
  </div>

  <%= f.submit %> 
<% end %>
<script>
  let autocomplete;

  let componentForm = {
    street_number: 'short_name',
    route: 'long_name',
    locality: 'long_name',
    administrative_area_level_1: 'short_name',
    country: 'long_name',
    postal_code: 'short_name'
  };
  
  function initAutocomplete() {
    let input = document.getElementById('address_autocomplete');
    let options = {
      componentRestrictions: {country: 'ca'},
      strictBounds: true 
    }
    autocomplete = new google.maps.places.Autocomplete(input,options);
    autocomplete.setFields(['address_component', 'geometry']);

    autocomplete.addListener('place_changed', fillInAddress);
  }

  function fillInAddress() {
    let place = autocomplete.getPlace();
    
    document.getElementById(`address_lat`).value = place.geometry.location.lat();
    document.getElementById(`address_lat`).disabled = false;
    document.getElementById(`address_lng`).value = place.geometry.location.lng();
    document.getElementById(`address_lng`).disabled = false;

    for (let component in componentForm) {
      document.getElementById(`address_${component}`).value = '';
      document.getElementById(`address_${component}`).disabled = false;
    }

    for (let i = 0; i < place.address_components.length; i++) {
      let addressType = place.address_components[i].types[0];
      if (componentForm[addressType]) {
        let val = place.address_components[i][componentForm[addressType]];
        document.getElementById(`address_${addressType}`).value = val;
      }
    }
  }
</script>  